<!DOCTYPE html>
<html lang="es">

<head>
  <title>Naffinity</title>
  <meta charset="utf-8" />

  <link href="stylesheets/style.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>

  <div class="container">
    <input class="start" type="checkbox" id="start">
    <label for="start" class="start-label">START / STOP</label>
    <div class="clock-container">
      <div class="hours">
        <ul class="hours-list">
          <li>00</li>
          <li>01</li>
          <li>02</li>
          <li>03</li>
          <li>04</li>
          <li>05</li>
          <li>06</li>
          <li>07</li>
          <li>08</li>
          <li>09</li>
          <li>10</li>
          <li>11</li>
        </ul>
      </div>
      <div class="minutes">
        <ul class="minutes-list">
          <li>00</li>
          <li>01</li>
          <li>02</li>
          <li>03</li>
          <li>04</li>
          <li>05</li>
          <li>06</li>
          <li>07</li>
          <li>08</li>
          <li>09</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
          <li>32</li>
          <li>33</li>
          <li>34</li>
          <li>35</li>
          <li>36</li>
          <li>37</li>
          <li>38</li>
          <li>39</li>
          <li>40</li>
          <li>41</li>
          <li>42</li>
          <li>43</li>
          <li>44</li>
          <li>45</li>
          <li>46</li>
          <li>47</li>
          <li>48</li>
          <li>49</li>
          <li>50</li>
          <li>51</li>
          <li>52</li>
          <li>53</li>
          <li>54</li>
          <li>55</li>
          <li>56</li>
          <li>57</li>
          <li>58</li>
          <li>59</li>
        </ul>
      </div>
      <div class="seconds">
        <ul class="seconds-list">
          <li>00</li>
          <li>01</li>
          <li>02</li>
          <li>03</li>
          <li>04</li>
          <li>05</li>
          <li>06</li>
          <li>07</li>
          <li>08</li>
          <li>09</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
          <li>32</li>
          <li>33</li>
          <li>34</li>
          <li>35</li>
          <li>36</li>
          <li>37</li>
          <li>38</li>
          <li>39</li>
          <li>40</li>
          <li>41</li>
          <li>42</li>
          <li>43</li>
          <li>44</li>
          <li>45</li>
          <li>46</li>
          <li>47</li>
          <li>48</li>
          <li>49</li>
          <li>50</li>
          <li>51</li>
          <li>52</li>
          <li>53</li>
          <li>54</li>
          <li>55</li>
          <li>56</li>
          <li>57</li>
          <li>58</li>
          <li>59</li>
        </ul>
      </div>
      <div class="milliseconds">
        <ul class="milliseconds-list">
          <li>00</li>
          <li>01</li>
          <li>02</li>
          <li>03</li>
          <li>04</li>
          <li>05</li>
          <li>06</li>
          <li>07</li>
          <li>08</li>
          <li>09</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
          <li>32</li>
          <li>33</li>
          <li>34</li>
          <li>35</li>
          <li>36</li>
          <li>37</li>
          <li>38</li>
          <li>39</li>
          <li>40</li>
          <li>41</li>
          <li>42</li>
          <li>43</li>
          <li>44</li>
          <li>45</li>
          <li>46</li>
          <li>47</li>
          <li>48</li>
          <li>49</li>
          <li>50</li>
          <li>51</li>
          <li>52</li>
          <li>53</li>
          <li>54</li>
          <li>55</li>
          <li>56</li>
          <li>57</li>
          <li>58</li>
          <li>59</li>
          <li>60</li>
          <li>61</li>
          <li>62</li>
          <li>63</li>
          <li>64</li>
          <li>65</li>
          <li>66</li>
          <li>77</li>
          <li>68</li>
          <li>69</li>
          <li>70</li>
          <li>71</li>
          <li>72</li>
          <li>73</li>
          <li>74</li>
          <li>75</li>
          <li>76</li>
          <li>77</li>
          <li>78</li>
          <li>79</li>
          <li>80</li>
          <li>81</li>
          <li>82</li>
          <li>83</li>
          <li>84</li>
          <li>85</li>
          <li>86</li>
          <li>87</li>
          <li>88</li>
          <li>89</li>
          <li>90</li>
          <li>91</li>
          <li>92</li>
          <li>93</li>
          <li>94</li>
          <li>95</li>
          <li>96</li>
          <li>97</li>
          <li>98</li>
          <li>99</li>
        </ul>
      </div>
    </div>
    <div class="watch">
      <div class="minutes-hand">
      </div>
      <div class="hours-hand">
      </div>
    </div>
  </div>


  <div class="" style="width:250px;position:absolute;top:100px;right:50px;">
    <span class="titulo_azul">Hoy dirige:</span>

    <select name="cboIntegrantes" id="cboIntegrantes" style="width:120px;background:transparent;font-weight:bold;"
      class="texto_azul">
      <option value="none" selected>Ninguno</option>
      <option value="nuribe">Nelson</option>
      <option value="mmamani">Marco</option>
      <option value="avasquez">Andrés</option>
      <option value="irioja">Isabel</option>
      <option value="jleon">Javier</option>
      <option value="ejustiniano">Erwin</option>
    </select>
    <br>
    <img name="imgIntegrante" id="imgIntegrante" src="user2.png" alt="" title="" width="250" height="250">
  </div>

  <div class="centrado" align="center">
    <a href="http://sc01srdt01:8080/tfs/DefaultCollection/NAffinity/_backlogs/taskboard?_a=requirements"
      title="Ir al TFS web" target="_blank" class="enlace">Ir a la sala del Equipo</a>

  </div>

  <script>
    $(document).ready(function () {

      //-----------------------------------------------------------------
      //cambiar imagen cuando cambie seleccion en el combo de integrantes
      $('select[name=cboIntegrantes]').change(function () {
        switch (true) {
          case ($("#cboIntegrantes").val() == "nuribe"):
            $('#imgIntegrante').attr("src", "nuribe.png");
            break;
          case ($("#cboIntegrantes").val() == "mmamani"):
            $('#imgIntegrante').attr("src", "mmamani.png");
            break;
          case ($("#cboIntegrantes").val() == "avasquez"):
            $('#imgIntegrante').attr("src", "avasquez.jpeg");
            break;
          case ($("#cboIntegrantes").val() == "irioja"):
            $('#imgIntegrante').attr("src", "irioja.png");
            break;
          case ($("#cboIntegrantes").val() == "jleon"):
            $('#imgIntegrante').attr("src", "jleon.jpg");
            break;
          case ($("#cboIntegrantes").val() == "ejustiniano"):
            $('#imgIntegrante').attr("src", "ejustiniano.png");
            break;
          default:
            $('#imgIntegrante').attr("src", "user2.png");
        }

        //$('#imgIntegrante').attr("src","irioja.jpg");
      });
    });
  </script>
</body>

</html>